/* Fond principal */
MenuBar {
    -fx-background-color: #EBACA2;
    -fx-border-color: #212E53;
    -fx-border-width: 3px;
    -fx-border-style: solid;
}

/* Style des menus */
.menu {
    -fx-font-family: "Poppins", sans-serif;
    -fx-text-fill: #212E53; /* Texte bleu marine */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: transparent; /* Fond transparent pour le menu principal */
}

/* Survol des menus dans la barre */
.menu:hover,
.menu:focused {
    -fx-background-color: #CE6A6B; /* Fond rouge */
    -fx-text-fill: #212E53; /* Texte bleu marine */
}

/* Supprimer le padding des menus déroulants */
.menu .menu-item {
    -fx-padding: 1x0; /* Pas de padding */
    -fx-background-color: #CE6A6B; /* Fond rouge */
    -fx-text-fill: #212E53; /* Texte bleu marine */
}

/* Survol des éléments */
.menu .menu-item:hover {
    -fx-background-color: #CE6A6B; /* Fond rouge */
    -fx-text-fill: #212E53; /* Texte bleu marine */
}

/* Supprimer les marges entre les items */
.menu .menu-item:armed {
    -fx-background-color: #CE6A6B; /* Fond rouge au clic */
    -fx-text-fill: #212E53; /* Texte bleu marine */
}

/* Enlever les bordures autour du menu déroulant */
.context-menu {
    -fx-padding: 0; /* Pas de padding global */
    -fx-border-width: 0; /* Pas de bordure */
    -fx-background-insets: 0; /* Pas d'espace autour */
}
